.Login{
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 400px;
    padding: 40px 40px;
    background: #fff;
    border: 5px solid rgb(2, 59, 117);
    text-align: center;
    border-radius: 5px;
   
}
.Login.form-control{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }