body{
    background: #fff;
}
.col-lg-4{
    max-width: 100%;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgb(0,0,0,0.253)!important;
}
.card-body{
    padding: 3rem 0 !important;
    width:100%;
}
.card-text{
    font-size: 1.45rem;
    padding: 0.4 rem 1.9 rem;
}
.container-fluid .row{
    padding-top: 6rem;
    padding-bottom:6rem ;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.8);
}
/*.card-border-top{
    border-top: solid 90px rgb(0,33,66);
}*/